<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-scale-chromatic@3"></script>

    <title>Title</title>
</head>
<div>
    <div id="chart">Chart: </div>


</div>
</body>
<footer>
    <script type="module">
        import DB from "../js/DB.js"
        window.airDB = new DB()
    </script>
    <script type="module">
        import {windChart} from "../js/windChart.js";

        let chart = document.getElementById("chart")
        let feature = 'wind_o3'
        airDB.get_bucket_by_feature_year(feature)
        .then(data => {
            let lc;
            if (data) {
                if ("wind" === feature.slice(0, 4)) {
                    lc = windChart(data, feature)
                }

                chart.appendChild(lc)
            }
        })
    </script>


</footer>
</html>