<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-scale-chromatic@3"></script>

    <title>Title</title>
</head>
<body bgcolor="#f0f8ff">
<div>
    <div id="sra"></div>
    <div style="display: grid; grid-template-columns: auto auto">
        <div id="map"></div>
        <div>
            <div style="display: grid; grid-template-columns: auto auto auto auto">
                <div id="spring">Spring 2 3 4</div>
                <div id="summer">Summer 5 6 7 </div>
                <div id="autumn">Autumn 8 9 10</div>
                <div id="winter">Winter 11 12 1</div>
            </div>
            <div id="corrMat"></div>
        </div>

    </div>
    <div id="selected"></div>


</div>
</body>
<footer>
    <script type="module">
        import DB from "../js/DB.js"

        window.airDB = new DB()
    </script>
    <script type="module" src="../js/sraList.js"></script>
    <script type="module" src="../js/chineseMap.js"></script>
    <script type="module" src="../js/corrMat.js"></script>

</footer>
</html>